.blank-chat {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-items: center;

  .search-btn {
    position: absolute;
    right: 7px;
    top: 4px;
  }
  @media only screen and (min-width: 789px) {
    height: calc(100vh - 70px);
  }
}
