$primary: rgb(83, 189, 245);
$secondary: rgb(194, 205, 214);
$dark: rgb(85, 87, 112);
$darken: rgb(40, 41, 61);
$danger: rgb(255, 92, 92);
$success: rgb(57, 217, 138);
$info: rgb(91, 141, 239);
$warning: rgb(253, 172, 66);
